body {
    max-width: 1440px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.nav-links {

    display: flex;
    gap: 20px;


}

.a-nav {


    text-decoration: none;
    padding-right: 20px;
    color: rgb(29, 29, 29);
}

.Nav-div {

    display: flex;
    align-items: center;
    justify-content: space-between;




}



.hero-h2 {

    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    font-size: 52px;



}

.Hero-p {

    padding-bottom: 10px;
}

.prebook-btn {


    height: 20px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;


    background-color: #E02C6D;
    padding: 10px;

    border-radius: 25px;


    color: white;



}


.Join-img {

    padding-left: 20px;
}

.Hero-section {

    display: flex;

}

.Hero-section>div {
    width: 50%;

}


.Hero-img {

    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero-img>img {
    width: 100%;
    max-width: 350px;



}




.nav-h2 {

    padding-left: 10px;
}


.Hero-Content {
    width: 50%;

}


.Logo-section-main {
    margin-bottom: 60px;
}

.Logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #C0CCDA;
    padding: 20px;
    margin-top: 90px;
}

.Section-2h {

    text-align: center;
    padding-top: 70px;


}


.Grid-value {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.Grid-value img {
    width: 100%;
}

.Join-now {

    display: flex;
    gap: 40px;
}

.Join-nowbtn {

    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 10px;
    border-radius: 20px;

}

.Join-nowp {

    padding: 15px;


}

.fotter {

    padding-top: 90px;
}

.Last-part {

    text-align: center;
    margin-top: 60px;
    background-color: rgb(29, 1, 50);
    padding: 10px;
    color: white;
}

@media only screen and (max-width: 600px) {

    .Grid-value {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;

    }

    .Join-now {

        flex-direction: column;
        justify-content: center;

    }

    .Logo-section {

        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }

    .Hero-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .prebook-btn {
        border-radius: 0%;
        padding: 20px;
        margin-top: 10px;
    }

    .Join-img {

        width: 91%;
        height: 350px;
        padding: 20px;

    }

    .img-parent {
        display: flex;
        justify-content: center;

    }

    .Hero-Content {
        width: 100%;

    }

    .Hero-p {
        padding-bottom: 15px;
    }

    .prebook-btn {



        text-decoration: none;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;


        background-color: #E02C6D;
        padding: 10px;

        border-radius: 17px;
        margin-bottom: 0 color: white;
    }

    .Hero-section {
        margin-bottom: 15px;

    }

    .Join-nowbtn {

        text-decoration: none;
        background-color: #E02C6D;
        color: white;
        padding: 10px;
        border-radius: 17px;


    }

    .Nav-div h2 {
        font-size: 17px;
        padding-left: 5px;
    }


    .nav-links {

        display: flex;
        gap: 10px;
    }

    .Nav-div {

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        gap: 10px;

    }

    .Hero-section {
        padding-left: 20px;
    }

    .Hero-Content {

        padding-top: 0;
        position: relative;
        top: 10%;
    }
}